<header class="site-header">
  <div class="header-left">
    <img src="assets/Port-Of-Amsterdam-Logo.png" alt="Logo" class="logo">

    <div class="brand">
      <div class="brand-title">{{ t('appTitle') }}</div>
      <div class="brand-subtitle">{{ t('appSubtitle') }}</div>
    </div>
  </div>

  <nav class="nav-menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <!-- <a routerLink="/cube" routerLinkActive="active">Cube</a> -->
    <a *ngIf="isLoggedIn"
       class="login-btn"
       (click)="goToRoleUI()"
       aria-label="Role UI link">
      {{ t('menuFunctionalities') }}
    </a>


    <!-- <a *ngIf="isLoggedIn" (click)="scrollToAnchor('user-info')">
     {{ 'userInfo'}}
   </a>-->

   <!-- 🌍 LANGUAGE SWITCH -->
    <a
      href="#"
      (click)="onLangClick($event, 'en')"
      [class.active]="currentLang === 'en'"
      aria-label="Switch to English"
    >EN</a>

    <a
      href="#"
      (click)="onLangClick($event, 'pt')"
      [class.active]="currentLang === 'pt'"
      aria-label="Switch to Portuguese"
    >PT</a>




    <a *ngIf="!isLoggedIn"
       class="login-btn"
       (click)="login()"
       aria-label="Login link">
      {{ t('login') }}
    </a>

    <div *ngIf="isLoggedIn" class="user-info">
      <span class="welcome">{{ t('hello') }}, {{ userName }}</span>

      <a class="login-btn logout-btn"
         (click)="logout()"
         aria-label="Logout link">
        {{ t('logout') }}
      </a>
    </div>

  </nav>
</header>

<router-outlet />
